<nav class='flex'>
  <%= image_tag 'farmbox-logo.svg', alt: 'farmbox logo', id: 'nav-logo' %>
  <%= link_to "Entrar", welcome_index_path %>
</nav>
<section class='flex'>
  <h1>Bem vindo ao</h1>
  <%= image_tag 'logo_farmbox_site.png', alt: 'farmbox logo', class: 'flex' %>
</section>
