<section class='d-flex flex-column justify-content-center align-items-center py-5'>
  <%= link_to 'Voltar', root_path, id: 'btn-back', class: 'btn btn-primary' %>
  <h2 class='mb-5 text-white'>Consulte abaixo suas Anotações de Campo</h2>
  <%= link_to 'Ver anotações de Campo', field_notes_path, class: 'btn btn-primary' %>
</section>