/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  width: 100vw;
  min-width: 400px;
  background-image: url('farmbox-institucional-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: aliceblue;
  margin-right: 10px;
}

h2 {
  margin: 50px 0;
}

a#btn-back {
  position: absolute;
  left: 15px;
  top: 15px;
}

div.card {
  background: #FFF;
  width: 30%;
  margin-top: 50px;
}
/* 
section.welcome {

  background: turquoise;
} */

@media only screen and (max-width: 700px) {
  section {
    background-color: blue;
  }

  h1 {
    font-size: 35px;
  }
  section img {
    width: 40%;
  }
}